<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/customcss.css" rel="stylesheet" type="text/css">
	<style class="cp-pen-styles">
		@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&subset=latin-ext");
	</style>

	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/instituteprofile.js"></script>
	

</head>

<body>
	<div class="sidebar-is-reduced">
		<header class="l-header">
			<div class="l-header__inner clearfix">
				<div class="logo-txt">
					<h6>Directorate Of Employment & Training</h6>
					<span>Labour Resources Department Govt. Of Bihar</span>
					<span>(Govt. Of Bihar Undertaking)</span>
				</div>
				<div class="user-img">
					<img src="images/avatar.png">
				</div>
			</div>
		</header>
		<div class="l-sidebar">
			<div class="l-sidebar__content">
				<nav class="c-menu js-menu">
					<div class="c-header-icon js-hamburger">
						<div class="hamburger-toggle"><span class="bar-top"></span><span class="bar-mid"></span><span
								class="bar-bot"></span></div>
					</div>
					<ul class="u-list">
						<li class="c-menu__item is-active" th:data-toggle="tooltip" th:title="Dashboard">
							<a href=/institutedashboard>
								<div class="c-menu__item__inner"><i class="fa fa-line-chart" aria-hidden="true"></i>
									<div class="c-menu-item__title"><span>Dashboard</span></div>
								</div>
							</a>
						</li>
						<li class="c-menu__item" th:data-toggle="tooltip" title="Institutional Profile">
							<a href=/institutionalprofile>
								<div class="c-menu__item__inner">
									<i class="fa fa-university" aria-hidden="true"></i>
									<div class="c-menu-item__title">
										<span class="Profile">Institutional Profile</span>
									</div>
								</div>
							</a>
						</li>

						<li class="c-menu__item" th:data-toggle="tooltip" th:title="Admission">
							<a href=/admissiondetails>
								<div class="c-menu__item__inner"><i class="fa fa-user-circle-o"
										aria-hidden="true"></i></i>
									<div class="c-menu-item__title"><span class="Profile">Admission</span></div>
								</div>
							</a>
						</li>

						<li class="c-menu__item has-submenu" th:data-toggle="tooltip" title="Student Section">
							<div class="c-menu__item__inner"> <i class="fa fa-money" aria-hidden="true"></i>
								<div class="c-menu-item__title"><span>Fee Details</span></div>
								<div class="c-menu-item__expand js-expand-submenu"><i class="fa fa-angle-down"></i>
								</div>
							</div>
							<ul class="c-menu__submenu u-list">
								<li>Registration Fees</li>
								<li>Examination Fees</li>
							</ul>
						</li>
						<li class="c-menu__item has-submenu" th:data-toggle="tooltip" title="Student Section">
							<div class="c-menu__item__inner"> <i class="fa fa-table fa-lg"></i>
								<div class="c-menu-item__title"><span>Examination</span></div>
								<div class="c-menu-item__expand js-expand-submenu"><i class="fa fa-angle-down"></i>
								</div>
							</div>
							<ul class="c-menu__submenu u-list">
								<li>Create Admit Card</li>
								<li>Download Admit Card</li>
							</ul>
						</li>
						<li class="c-menu__item has-submenu" th:data-toggle="tooltip" title="Student Section">
							<div class="c-menu__item__inner"><i class="fa fa-check-square-o" aria-hidden="true"></i>
								<div class="c-menu-item__title"><span>C-Form</span></div>
								<div class="c-menu-item__expand js-expand-submenu"><i class="fa fa-angle-down"></i>
								</div>
							</div>
							<ul class="c-menu__submenu u-list">
								<li>Creat C-Form</li>
								<li>Edit & View C-Form</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<main class="l-main">
			<div class="content-wrapper content-wrapper--with-bg">
				<div class="page-content">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active " id="home-tab" data-toggle="tab" href="#institutional" role="tab"
								aria-controls="home" aria-selected="true">Institutional Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="profile-tab" data-toggle="tab" href="#principal" role="tab"
								aria-controls="profile" aria-selected="false">Principal Details</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="contact-tab" data-toggle="tab" href="#affiliation" role="tab"
								aria-controls="contact" aria-selected="false">Affiliation Details</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="institutional" role="tabpanel">
							<div class="frms">
								<div class="form-ui">
									<div class="row">
										<div class="col-md-12">
											<div class="tab-content" id="myTabContent">
												<div class="tab-pane fade show active" id="details" role="tabpanel">
													<div class="accordian-st mt-4">
														<div class="accordion" id="accordionExample">
															<div class="accordion-item">
																<h2 class="accordion-header" id="headingOne">
																	<button class="accordion-button" type="button"
																		data-toggle="collapse"
																		data-target="#collapseOne" aria-expanded="true"
																		aria-controls="collapseOne">
																		Institutional Profile
																	</button>
																</h2>
																<div id="collapseOne"
																	class="accordion-collapse collapse show"
																	aria-labelledby="headingOne"
																	data-bs-parent="#accordionExample">
																	<div class="accordion-body">
																		<div class="form-box">
																			<form class="needs-validation" Novalidate>
																				<!-- <h4 class="principal">Personal Details</h4> -->
																				<div class="row abcd">
																					<div class="col-md-4">
																						<label
																							for="validationCustom01">ITI
																							Type</label>
																						<input type="text"
																							class="form-control"
																							id="validationCustom01"
																							placeholder="" value=""
																							required>
																					</div>
																					<div class="col-md-4">
																						<label
																							for="validationCustom02">ITI
																							Name</label>
																						<input type="text"
																							class="form-control"
																							id="validationCustom02"
																							placeholder="" value=""
																							required>
																					</div>
																					<div class="col-md-4">
																						<label for="validationCustom01">
																							ITI MIS Code </label>
																						<input type="email"
																							class="form-control"
																							id="validationCustom01"
																							placeholder="" value=""
																							required>
																					</div>
																					<div class="col-md-4 mt-1">
																						<label for="validationCustom01">
																							Website URL </label>
																						<input type="text"
																							class="form-control"
																							id="validationCustom01"
																							placeholder="" value=""
																							required>
																					</div>
																					<div class="col-md-4 mt-1">
																						<label for="validationCustom01">
																							Date Of Establishment
																						</label>
																						<input type="text"
																							class="form-control"
																							id="validationCustom01"
																							placeholder="" value=""
																							required>
																					</div>
																					<div class="col-md-4 mt-1">
																						<label for="validationCustom01">
																							Institute Longitude </label>
																						<input type="text"
																							class="form-control"
																							id="validationCustom01"
																							placeholder="" value=""
																							required>
																					</div>
																					<div class="col-md-4  mt-1">
																						<label for="validationCustom01">
																							Institute Latitude </label>
																						<input type="text"
																							class="form-control"
																							id="validationCustom01"
																							placeholder="" value=""
																							required>
																					</div>
																					<div class="col-md-4  mt-1">
																						<label for="validationCustom01">
																							Address 1 </label>
																						<input type="text"
																							class="form-control"
																							id="validationCustom01"
																							placeholder="" value=""
																							required>
																					</div>
																					<div class="col-md-4  mt-1">
																						<label for="validationCustom01">
																							Address 2 </label>
																						<input type="text"
																							class="form-control"
																							id="validationCustom01"
																							placeholder="" value=""
																							required>
																					</div>
																					<div class="col-md-4  mt-1">
																						<label for="validationCustom01">
																							State</label>
																						<input type="text"
																							class="form-control"
																							id="validationCustom01"
																							placeholder="" value=""
																							required>
																					</div>
																					<div class="col-md-4  mt-1">
																						<label for="validationCustom01">
																							District </label>
																						<input type="text"
																							class="form-control"
																							id="validationCustom01"
																							placeholder="" value=""
																							required>
																					</div>
																					<div class="col-md-4  mt-1">
																						<label for="validationCustom01">
																							Block </label>
																						<input type="text"
																							class="form-control"
																							id="validationCustom01"
																							placeholder="" value=""
																							required>
																					</div>
																					<div class="col-md-4  mt-1">
																						<label for="validationCustom01">
																							Pin Code </label>
																						<input type="text"
																							class="form-control"
																							id="validationCustom01"
																							placeholder="" value=""
																							required>
																					</div>
																					<div class="col-md-4  mt-1">
																						<label for="validationCustom01">
																							ITI Contact No </label>
																						<input type="text"
																							class="form-control"
																							id="validationCustom01"
																							placeholder="" value=""
																							required>
																					</div>
																				</div>
																			</form>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>



						<!-- Other tab panes -->
						<div class="tab-pane fade" id="principal" role="tabpanel" aria-labelledby="profile-tab">
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="details" role="tabpanel">
									<div class="accordian-st mt-4">
										<div class="accordion" id="accordionExample">
											<div class="accordion-item">
												<h2 class="accordion-header" id="headingOne">
													<button class="accordion-button" type="button"
														data-toggle="collapse" data-target="#collapseOne"
														aria-expanded="true" aria-controls="collapseOne">
														Principal Details
													</button>
												</h2>
												<div id="collapseOne" class="accordion-collapse collapse show"
													aria-labelledby="headingOne"
													th:attr="data-bs-parent='#accordionExample'">
													<div class="accordion-body">
														<div class="row">
															<div class="col-md-6">
																<div class="principal-img">
																	<img src="images/avatar3_small.jpg"
																		class="img-fluid">
																</div>
																<!-- <button type="button" class="btn btn-primary updates">Save</button> -->
															</div>
															<div class="col-md-6">
																<div class="principal-detail">
																	<div class="col-md-12">
																		<label for="validationCustom01">Name Of
																			Principal</label>
																		<input type="text" class="form-control"
																			id="validationCustom01" placeholder=""
																			value="" required>
																	</div>
																	<div class="col-md-12">
																		<label for="validationCustom01">Mobile
																			No</label>
																		<input type="text" class="form-control"
																			id="validationCustom01" placeholder=""
																			value="" required>
																	</div>
																	<div class="col-md-12">
																		<label for="validationCustom01">E-mail
																			Id</label>
																		<input type="text" class="form-control"
																			id="validationCustom01" placeholder=""
																			value="" required>
																	</div>
																	<div class="col-md-12">
																		<label for="validationCustom01">ITI MIS
																			Code</label>
																		<input type="text" class="form-control"
																			id="validationCustom01" placeholder=""
																			value="" required>
																	</div>
																	<!-- <button type="button" class="btn btn-primary update">Next</button> -->
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="tab-pane fade" id="affiliation" role="tabpanel" aria-labelledby="profile-tab">
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="details" role="tabpanel">
									<div class="accordian-st mt-4">
										<div class="accordion" id="accordionExample">
											<div class="accordion-item">
												<h2 class="accordion-header" id="headingOne">
													<button class="accordion-button" type="button"
														data-toggle="collapse" data-target="#collapseOne"
														aria-expanded="true" aria-controls="collapseOne">
														Affiliation Details
													</button>
												</h2>
												<div id="collapseOne" class="accordion-collapse collapse show"
													aria-labelledby="headingOne" data-bs-parent="#accordionExample">
													<div class="accordion-body">
														<div class="row">
															<div class="col-md-12">
																<table class="table">
																	<thead>
																		<tr>
																			<th scope="col">Session</th>
																			<th scope="col">Trade Name</th>
																			<th scope="col">Unit</th>
																			<th scope="col">No. Of Trainee</th>
																			<th scope="col">Shift</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<th scope="row">1</th>
																			<td>Mark</td>
																			<td>Otto</td>
																			<td>@mdo</td>
																			<td>@mdo</td>
																		</tr>
																		<tr>
																	</tbody>
																</table>
																<!-- <button type="button" class="btn btn-primary updatesave">Submit</button> -->
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer fixed-bottom">
				<p>Copyright maintained by CMS Computers Limited</p>
			</div>
		</main>
	</div>

<script>
	
		var Dashboard = function () {
			var global = {
				tooltipOptions: {
					placement: "right"
				},
				menuClass: ".c-menu"
			};

			var menuChangeActive = function menuChangeActive(el) {
				var hasSubmenu = $(el).hasClass("has-submenu");
				$(global.menuClass + " .is-active").removeClass("is-active");
				$(el).addClass("is-active");
			};

			var sidebarChangeWidth = function sidebarChangeWidth() {
				var $menuItemsTitle = $("li .menu-item__title");

				$("div").toggleClass("sidebar-is-reduced sidebar-is-expanded");
				$(".hamburger-toggle").toggleClass("is-opened");

				if ($("div").hasClass("sidebar-is-expanded")) {
					$('[data-toggle="tooltip"]').tooltip("destroy");
				} else {
					$('[data-toggle="tooltip"]').tooltip(global.tooltipOptions);
				}
			};

			return {
				init: function init() {
					$(".js-hamburger").on("click", sidebarChangeWidth);

					$(".js-menu li").on("click", function (e) {
						menuChangeActive(e.currentTarget);
					});

					$('[data-toggle="tooltip"]').tooltip(global.tooltipOptions);
				}
			};
		}();
		Dashboard.init();

	</script>
	
</body>

</html>