<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/index.css}" />
	<link rel="stylesheet"
		th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" />
	<title>Employment & Training</title>
</head>

<body>
	<div class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="header-design">
						<span class="social"><i class="fa fa-facebook-official" aria-hidden="true"></i></span>
						<span class="social"><i class="fa fa-twitter" aria-hidden="true"></i></span>
						<span class="social"><i class="fa fa-google-plus-square" aria-hidden="true"></i></span>
						<span class="social"><i class="fa fa-instagram" aria-hidden="true"></i></span>
						<span class="social"><i class="fa fa-youtube-play" aria-hidden="true"></i></span>
					</div>
				</div>
				<div class="col-md-8">
					<div class="side-header">
						<div class="menus">
							<span class="header-tp"><a href="#"><i class="fa fa-home"
										aria-hidden="true"></i>Home</a></span>
							<span class="header-tp"><a href="#"><i class="fa fa-arrow-circle-down"
										aria-hidden="true"></i>Skip to Main Content</a></span>
						</div>
						<div class="font-increase">
							<a id="abc" href="#" th:onclick="showbox()"><i class="fa fa-universal-access"
									aria-hidden="true"></i></a>
							<div id="xyz" class="access-type">
								<span class="hidden-xss">A-</span>
								<span class="hidden-xss">A</span>
								<span class="hidden-xss">A+</span>
							</div>
						</div>
						<div class="color-theme">
							<span class="hidden-xs"><i class="fa fa-circle blue" aria-hidden="true"></i></span>
							<span class="hidden-xs"><i class="fa fa-circle orange" aria-hidden="true"></i></span>
							<span class="hidden-xs"><i class="fa fa-circle green" aria-hidden="true"></i></span>
						</div>
						<div class="language">
							<span class="current-language">English <i class="fa fa-angle-down"
									aria-hidden="true"></i></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- bottom header -->
	<div class="bottom-header">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<!-- Add Thymeleaf attribute th:href for dynamic URLs -->
						<li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">About DET</a>
								<a class="dropdown-item" href="#">Office Setup</a>
							</div>
						</li>
						<!-- Add Thymeleaf attribute th:href for dynamic URLs -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Scheme</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">CTS</a>
								<a class="dropdown-item" href="#">ATS</a>
								<a class="dropdown-item" href="#">PPP</a>
								<a class="dropdown-item" href="#">COE</a>
								<a class="dropdown-item" href="#">MES</a>
								<a class="dropdown-item" href="#">LWE</a>
							</div>
						</li>
						<!-- Add Thymeleaf attribute th:href for dynamic URLs -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New Courses In CTS</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">List of CTS Courses</a>
								<a class="dropdown-item" href="#">Employability Skills</a>
								<a class="dropdown-item" href="#">Soft Skills</a>
							</div>
						</li>
						<!-- Add Thymeleaf attribute th:href for dynamic URLs -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Examination</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">Examination Centre</a>
								<a class="dropdown-item" href="#">Upcoming Examination Programme</a>
								<a class="dropdown-item" href="#">CTS Jan 2015 Schedule</a>
								<a class="dropdown-item" href="#">Programme for CTS Sem Feb 2015</a>
								<a class="dropdown-item" href="#">Results</a>
								<a class="dropdown-item" href="#">Admit Card</a>
							</div>
						</li>
						<!-- Add Thymeleaf attribute th:href for dynamic URLs -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Documents</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">Acts</a>
							</div>
						</li>
						<!-- Add Thymeleaf attribute th:href for dynamic URLs -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Useful Links</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">DGE&T</a>
								<a class="dropdown-item" href="#">Labour Department</a>
								<a class="dropdown-item" href="#">Bihar Government</a>
								<a class="dropdown-item" href="#">SDI</a>
							</div>
						</li>
						<!-- Add Thymeleaf attribute th:href for dynamic URLs -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Students Corner</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">Job Fair</a>
								<a class="dropdown-item" href="#">Job opportunities</a>
								<a class="dropdown-item" href="#">Job requirement</a>
								<a class="dropdown-item" href="#">Certificate Verification</a>
								<a class="dropdown-item" href="#">Certificate Download</a>
							</div>
						</li>
						<!-- Add Thymeleaf attribute th:href for dynamic URLs -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">Student Login</a>
								<a class="dropdown-item" href="#">Authorised Login</a>
							</div>
						</li>
						<!-- Add Thymeleaf attribute th:href for dynamic URLs -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact Us</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">Officer's Details</a>
								<a class="dropdown-item" href="#">Staff Details</a>
								<a class="dropdown-item" href="#">ITI Details</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<!-- vertically banner -->
	<div class="logo-section">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<img th:src="@{/assets/images/ITI-logo.png}" alt="logo">
				</div>
				<div class="col-md-8">
					<img th:src="@{/assets/images/logo-text.png}" alt="logo" class="logo-text">
				</div>
			</div>
		</div>
	</div>
	<!-- Bootstrap Carousel -->
	<div class="banner">
		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block w-100" th:src="@{/assets/images/slide-1.jpg}" alt="First slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100" th:src="@{/assets/images/slide-2.jpg}" alt="Second slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100" th:src="@{/assets/images/slide-3.jpg}" alt="Third slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100" th:src="@{/assets/images/slide-4.jpg}" alt="Third slide">
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<!-- vertically banner end -->
	<!-- minister-section start -->
	<div class="minister">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="noticeboard-sec">
						<div class="panel-notice">
							<div class="panel-heading">
								<h4>Important Notice</h4>
							</div>
							<div class="panel-body">
								<ul>
									<li class="list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
										tenetur excepturi consequuntur?</li>
									<li class="list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
										tenetur excepturi consequuntur?</li>
									<li class="list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
										tenetur excepturi consequuntur?</li>
									<li class="list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
										tenetur excepturi consequuntur?</li>
									<li class="list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
										tenetur excepturi consequuntur?</li>
									<li class="list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
										tenetur excepturi consequuntur?</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<div class="single-heart">
								<div class="image">
									<img th:src="@{/assets/images/nitish-kumar.png}" class="img-fluid thumbnail"
										style="height: 263px;" />
								</div>
								<div class="image-cont">
									<h6>Shri Nitish Kumar</h6>
									<span>Honourable Chief Minister Bihar</span>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="single-heart">
								<div class="image">
									<img th:src="@{/assets/images/Sri Arun Kumar Thakur.jpg}"
										class="img-fluid thumbnail">
								</div>
								<div class="image-cont">
									<h6>Sri Arun Kumar Thakur, IAS</h6>
									<span>Director, Employment & Training, Bihar</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- minister section end -->
	<!-- Module Section Start -->
	<div class="features" id="features">
		<div class="container">
			<div class="box quality">
				<div class="image"></div>
				<div class="text">
					<h3>ITI Management</h3>
					<!-- Add Thymeleaf attribute th:href for dynamic URLs -->
					<a th:href="@{/itimodules}">Read More</a>
				</div>
			</div>
			<div class="box time">
				<div class="image"></div>
				<div class="text">
					<h3>Employment</h3>
					<!-- Add Thymeleaf attribute th:href for dynamic URLs -->
					<a th:href="@{/index}">Read More</a>
				</div>
			</div>
			<div class="box passion">
				<div class="image"></div>
				<div class="text">
					<h3>Dashboard</h3>
					<!-- Add Thymeleaf attribute th:href for dynamic URLs -->
					<a th:href="@{/index}">Read More</a>
			</div>
			</div>
		</div>
	</div>
	<!-- Module Section End -->
	<!-- colleges section start -->
	<div class="colleges">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="lcl-list">
						<img th:src="@{/assets/images/book-icon.png}" alt="icon-list">
						<span class="icons">List of Government Training Institutes</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="lcl-list">
						<img th:src="@{/assets/images/adm-icon.png}" alt="icon-list">
						<span class="icons">List of Private Training Institutes</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="lcl-list">
						<img th:src="@{/assets/images/edu-icon.png}" alt="icon-list">
						<span class="icons">Trainee Login</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="lcl-list">
						<img th:src="@{/assets/images/set-icon.png}" alt="icon-list">
						<span class="icons">ITI Login</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- colleges section end -->
	<!-- counter section start -->
	<div class="counter-ct">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<div class="counter-count">
						<img th:src="@{/assets/images/ITI-logo.png}" alt="logo" />
						<h2>304</h2>
						<p>Government ITIs</p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="counter-count">
						<img th:src="@{/assets/images/ITI-logo.png}">
						<h2>2932</h2>
						<p>Private ITIs</p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="counter-count">
						<img th:src="@{/assets/images/icon-3.png}">
						<h2>12</h2>
						<p>Specific ITIs for Women</p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="counter-count">
						<img th:src="@{/assets/images/ITI-logo.png}">
						<h2>172352</h2>
						<p>Total seats available for admission in Government ITIs</p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="counter-count">
						<img th:src="@{/assets/images/ITI-logo.png}">
						<h2>458243</h2>
						<p>Total seats available for admission in Private ITIs</p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="counter-count">
						<img th:src="@{/assets/images/icon-2.png}">
						<h2>80</h2>
						<p>Total trades operated in ITIs</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- counter section end -->
	<!-- Footer Section Starts here -->
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="footer-col-inner">
						<ul>
							<li><a href="#">Tenders</a></li>
							<li><a href="#">Notice Board</a></li>
							<li><a href="#">New Initiatives</a></li>
							<li><a href="#">Feedback</a></li>
							<li><a href="#">Publication</a></li>
							<li><a href="#">Portal User Manual</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="footer-map">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3597.8159001663366!2d85.12668811460449!3d25.61103308370547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed5840cec3ebbb%3A0x4bc12d802e73fe09!2sNiyojan+Bhawan%2C+Bailey+Road!5e0!3m2!1sen!2sin!4v1511164593345"
							width="100%" height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe>
					</div>
				</div>
				<div class="col-md-3">
					<div class="footer-col-inner">
						<h3>Contact us</h3>
						<p class="adr clearfix col-md-12 col-sm-4">
							<i class="fa fa-map-marker pull-left"></i>
							<span class="adr-group pull-left">
								<span class="street-address">Niyojan Bhawan</span><br>
								<span class="region">Near Income tax golamber, Bailey Rd,</span><br>
								<span class="postal-code">Veerchand Patel Road Area, Patna, Bihar 800001</span>
							</span>
						</p>
						<p class="tel col-md-12 col-sm-4"><i class="fa fa-phone"></i>0000-0000000</p>
						<p class="tel col-md-12 col-sm-4"><i class="fa fa-envelope"></i>info@example.com</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="footer-col-inner">
						<div class="social">
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Section Ends here -->
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js}"
		integrity="sha384-ZMP7rVo3TBv6DlM+axT6F9s6PWUqdz+x5AiB+J8DizQQUWNQZgj5dFf12JzQTE8e"
		crossorigin="anonymous"></script>
	<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js}"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script th:src="@{/assets/js/index.js}"></script>
</body>

</html>